/* Reset
------------------------------------ */

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-overflow-scrolling: touch;
}
html,
input,
textarea,
button,
select {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 14px;
  color: #424242;
  -webkit-font-smoothing: antialiased;
}
body {
  margin: 0;
  text-rendering: optimizeLegibility;
}
img {
  width: 100%;
}
svg {
  max-height: 100%;
}

@media screen and (min-width: 600px) {
  html,
  input,
  textarea,
  button,
  select {
    font-size: 16px;
  }
}

/* Base
------------------------------------ */

body {
  font-size: 1rem;
  background: #fff;
  color: #424242;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
figure,
.field {
  line-height: 1.4;
  padding: 1rem 20px;
}
hr {
  border: none;
  border-bottom: 1px solid #dcdcdc;
  margin: 1rem 20px;
}

/* Link
------------------------------------ */

a,
button {
  color: #868686;
  text-decoration: none;
  transition: all 0.2s ease;
  cursor: pointer;
}
a:hover,
button:hover,
a.active {
  color: #444;
}

/* Lists
------------------------------------ */
ul,
ol {
  margin-left: 2.5rem;
}
li {
  padding-bottom: 0.25rem;
}
nav ol,
nav ul {
  list-style-type: none;
  margin-left: 0;
}

/* Button
------------------------------------ */

button {
  border: none;
  outline: none;
  background: transparent;
}
.btn {
  display: inline-block;
  padding: 12px 20px;
  color: #444;
  background: transparent;
  border-radius: 3px;
  border: 2px solid #444;
  font-weight: 600;
  transition: all 0.2s ease;
}
.btn:hover {
  color: #fff;
  background: #444;
}
.btn:disabled {
  background: #ccc;
  border-color: #ccc;
  color: #fff;
  cursor: wait;
}
.btn.btn-small {
  padding: 6px 10px 8px 10px;
}
.btn.btn-alert {
  border-color: #d86a6a;
  color: #d86a6a;
}
.btn.btn-alert:hover {
  background: #d86a6a;
  color: #fff;
}

/* Input
------------------------------------ */
::placeholder {
  color: #ccc;
}
input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
input[type="date"],
select,
.input-elements {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 100%;
  padding: 1rem 0;
  background: transparent;
  border: 0px solid #fff;
  border-bottom: 2px solid #ccc;
  border-radius: 0;
  font-size: 1rem;
  outline: none;
  transition: border-color 0.2s ease;
}
input[type="radio"] {
  margin-right: 1rem;
  cursor: pointer;
}
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
select:after {
  content: "";
  position: absolute;
  display: block;
  top: 50%;
  right: 5px;
  display: block;
  height: 10px;
  width: 10px;
  margin-top: -8px;
  border-bottom: 1px solid #ccc;
  border-right: 1px solid #ccc;
  transform: rotate(45deg);
}
/* hover */
input[type="text"]:hover,
input[type="email"]:hover,
input[type="password"]:hover,
input[type="number"]:hover,
.input-elements:hover {
  border-bottom: 2px solid #a7a7a7;
}
/* focus */
input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
input[type="number"]:focus {
  border-bottom: 2px solid #444;
}
/* disabled */
input[type="text"]:disabled,
input[type="email"]:disabled,
input[type="password"]:disabled,
input[type="number"]:disabled {
  cursor: not-allowed;
  color: #ccc;
}
input[type="text"].input-error,
input[type="email"].input-error,
input[type="password"].input-error,
input[type="number"].input-error {
  border-bottom: 2px solid #d86a6a;
}

/* Label
------------------------------------ */
label {
  font-size: 0.9rem;
  font-weight: 600;
  color: #5f5f5f;
  cursor: pointer;
}
label i {
  color: #d86a6a;
  padding-left: 0.1rem;
}

/* UI
===================================== */

/* Table
------------------------------------ */
.table {
  border-top: 1px solid #ccc;
  margin: 1rem 20px;
}
.table .table-item {
  border-bottom: 1px solid #ccc;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.table-item-link {
  cursor: pointer;
  padding: 0 10px;
  transition: all 0.2s ease;
}
.table-item-link:hover {
  background: #f3f3f3;
}
.table .table-item span {
  padding: 1rem 20px;
}
.table .table-item span:first-child {
  padding-left: 0;
}
.table .table-item span:last-child {
  padding-right: 0;
}
.table .table-item-header {
  font-weight: 700;
}
/* Form Utils
------------------------------------ */
.form-card {
  max-width: 500px;
  margin: 1rem auto;
}
.fieldrow {
  display: flex;
  justify-content: space-between;
}
.fieldrow .field {
  flex-grow: 1;
  flex-basis: 0;
}
.form-lang-value {
  border-bottom: 1px solid #ccc;
}
.form-lang-value.blank {
  font-style: italic;
}

/* Text Utils
------------------------------------ */
.text-center {
  text-align: center;
}
.text-muted {
  color: #a5a2a2;
}
.text-error {
  color: #d86a6a;
}
.hr-text {
  position: relative;
  text-align: center;
}
.hr-text:before {
  content: "";
  position: absolute;
  top: 52%;
  left: 20px;
  right: 20px;
  display: block;
  border-bottom: 1px solid #ccc;
}
.hr-text span {
  position: relative;
  background: #fff;
  padding: 10px;
}

/* Controls
------------------------------------ */
.header-tools {
  display: flex;
  justify-content: space-between;
}
.controls {
  display: flex;
}
.controls-nav {
  display: flex;
  flex-direction: column;
  width: 25%;
  padding: 0.5rem 0;
}
.controls-nav a {
  display: block;
  padding: 0.5rem 20px;
}
.controls-main {
  width: 75%;
}

/* Template
------------------------------------ */
.container {
  max-width: 1024px;
  margin: 0 auto;
}
